// reset html body
html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #666;
  font-family: "PingFang SC","Hiragino Sans GB","Segoe UI","Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 100%;
  text-align: center;
}

// reset element margins
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

// reset heading font
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

// reset list unstyled
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


// reset element default border
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

// hack input style
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
input::-ms-clear {
  display: none
}
:focus,
:focus-visible {
  outline: 0
}
