@import "../../mixins";
@import "../../module/src/main";

@mixin article() {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
  width: 100%;
}

@include b(article) {
  @include article();
  & > {
    @include module();
  }
}
